html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

select, input {
	display: block;
	font-size: 10px;
	font-family: sans-serif;
	color: #444;
	line-height: 1.3;
	padding: .2em 0.4em .2em .4em;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	background-color: #fff;
	appearance: none;
	background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: 0 0;
	background-size: 100%;
}

option {
	text-align: center;
	margin: 0;
	padding: 0;
}

optgroup {
	font-size: small;
	margin: 0;
	padding: 0;
}